################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ProjectPS.ServicePS.Application/obj
/src/ProjectPS.ServicePS.Application/bin
/src/ProjectPS.ServicePS.CrossCutting.Identity/obj
/src/ProjectPS.ServicePS.CrossCutting.Identity/bin
/src/ProjectPS.ServicePS.CrossCutting.IoC/obj
/src/ProjectPS.ServicePS.CrossCutting.IoC/bin
/src/ProjectPS.ServicePS.Data.SqlServer/obj
/src/ProjectPS.ServicePS.Data.SqlServer/bin
/src/ProjectPS.ServicePS.Domain/obj
/src/ProjectPS.ServicePS.Domain/bin
/src/ProjectPS.ServicePS.Presentation/obj
/src/ProjectPS.ServicePS.Presentation/bin
/src/ProjectPS.ServicePS.CrossCutting.Options/bin/Debug
/src/ProjectPS.ServicePS.CrossCutting.Options/obj
/src/ProjectPS.ServicePS.Data.SqlServer.Tool/bin/Debug/netcoreapp2.0
/src/ProjectPS.ServicePS.Data.SqlServer.Tool/obj
/src/ProjectPS.ServicePS.API/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.API/obj
/src/ProjectPS.ServicePS.Data.Repository/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Data.Repository/obj
/src/ProjectPS.ServicePS.Domain.Core/obj
/src/ProjectPS.ServicePS.Domain.Core/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.DataAccess.Core/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.DataAccess.Core/obj
/src/ProjectPS.ServicePS.DataAccess.SqlServer/bin/Debug
/src/ProjectPS.ServicePS.DataAccess.SqlServer/obj
/src/ProjectPS.ServicePS.Util.Options/bin/Debug
/src/ProjectPS.ServicePS.Util.Options/obj
/src/ProjectPS.ServicePS.Core/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Core/obj
/src/ProjectPS.ServicePS.DataAccess.SqlLite/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.DataAccess.SqlLite/obj
/src/ProjectPS.ServicePS.DataAccess.SqlLite/ServicePSDb
/src/ProjectPS.ServicePS.Infra.Identity/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Infra.Identity/obj
/src/ProjectPS.ServicePS.Infra.IoC/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Infra.IoC/obj
/tests/ProjectPS.ServicePS.ApplicationTests/bin
/tests/ProjectPS.ServicePS.ApplicationTests/obj
/tests/ProjectPS.ServicePS.IntegrationTests/bin
/tests/ProjectPS.ServicePS.IntegrationTests/obj
/tests/ProjectPS.ServicePS.UnitTests/bin
/tests/ProjectPS.ServicePS.UnitTests/obj
/src/ProjectPS.ServicePS.Data.SQLite/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Data.SQLite/obj
/src/ProjectPS.ServicePS.Data.SQLite/ServicePSDb
/src/ProjectPS.ServicePS.Identity/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Identity/obj
/src/ProjectPS.ServicePS.IoC/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.IoC/obj
/src/ProjectPS.ServicePS.Options/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.Options/obj
*.db
/src/ProjectPS.ServicePS.API/bin/Debug/netcoreapp2.2
/src/ProjectPS.ServicePS.API/bin/Debug/netcoreapp2.1
/src/ProjectPS.ServicePS.Core/bin/Debug/netcoreapp2.1
/src/ProjectPS.ServicePS.Data.SQLite/bin/Debug/netcoreapp2.1
/src/ProjectPS.ServicePS.Identity/bin/Debug/netcoreapp2.1
/src/ProjectPS.ServicePS.IoC/bin/Debug/netcoreapp2.1
/src/ProjectPS.ServicePS.Options/bin/Debug/netcoreapp2.1
/src/ProjectPS.ServicePS.Component/bin/Debug
/src/ProjectPS.ServicePS.Component/obj
